img {
  height: 264px;
}
.navbar > div > a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  padding-left: 20px;
}
.navbar {
  max-width: 1520px;
  margin: 0 auto;
}

.wrapper ul {
  display: flex;
  align-items: center;
}

.wrapper ul li {
  list-style-type: none;
  padding: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.wrapper ul li span {
  color: #0D6EFD;
}

.wrapper ul li.numb {
  height: 10px;
  width: 10px;
  border: 1px solid gray;
  justify-content: center;
}

.wrapper ul li.btn {
  height: 10px;
  width: 10px;
  border: 1px solid gray;
  justify-content: center;
}

.wrapper ul li.btn:hover {
  background-color: lightgray;
}

.wrapper ul li.active {
  background-color: lightgray;
}

.carousel-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.carousel-inner {
  max-width: 100%;
  max-height: 100%;
}

.carousel-item {
  position: relative;
  display: none;
  /* float: left; */
  width: 100%;
  margin-right: -100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transition: transform .6s ease-in-out;
}
.carousel-item-next, .carousel-item-prev, .carousel-item.active {
  display: flex;
  justify-content: center;
}

.carousel-inner  img{
  height: 700px;
  width: 700px;
}

#productTitle{
  font-size: 20px;
}